PROD_SERVER_API_ADDRESS=http://localhost:8080
PROD_SERVER_IMAGE_ADDRESS=http://localhost:8080/images
VITE_DEV_SERVER_API_ADDRESS=http://localhost:8080/api
VITE_DEV_SERVER_IMAGE_ADDRESS=http://localhost:8080/api/
VITE_DEV_MODE=true